// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.calendar td {
	height: 100px;
	width: 14.28%; 
}
td.day{
	vertical-align: top !important; 
	> div.ui.label{
		padding:0.4em 0.4em;
		border-radius: 1rem;
	}
}

td.today{
	> div.ui.label{
	background-color: red;
	color: white;
	}
}
td.prev-month{
	background-color: gray;
}
td.next-month{
	background-color: gray;
}
.calendar-header{
	font-size: 24px;
}
.cal-blue{
	background-color: #87B8EB;
}
.cal-red{
	background-color: #FAC0C2;
}
.cal-green{
	background-color: #D8F8B4;
}
.cal-yellow{
	background-color: #FBF9C1;
}
.cal-orange{
	background-color: #EBBA87;
}